/Analisador_Lexico_Java/nbproject/private/
/Analisador_Lexico_Java/build/
/Analisador_Lexico_Java/dist/
/Teste/nbproject/private/
/Exercicio_2/nbproject/private/
/Projecto_Teste/nbproject/private/
/Projecto_Teste/build/
/Projecto_Teste/dist/
